{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Machine
{% endblock title %}

{% block content %}

<h1>Machines</h1>

<form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
</form>
{% if machine %}
    <table>
        <tr>
            <td>Заводской №</td>
            <td>Модель техники</td>
            <td>Модель двигателя</td>
            <td>Зав.№ двигателя</td>
            <td>Модель трансмиссии</td>
            <td>Зав.№ трансмиссии</td>
            <td>Модель ведущего моста</td>
            <td>Зав.№ ведущ. моста</td>
            <td>Модель управляемого моста</td>
            <td>Зав.№ управю моста</td>
            {% if user.is_authenticated %}
                <td>Договор поставки №, дата</td>
            {% endif %}
            {% if user.is_authenticated %}
                <td>Дата отгрузки</td>
            {% endif %}
            {% if user.is_authenticated %}
                <td>Грузополучатель</td>
            {% endif %}
            {% if user.is_authenticated %}
                <td>Адрес поставки</td>
            {% endif %}
            {% if user.is_authenticated %}
                <td>Комплектация</td>
            {% endif %}
            {% if user.is_authenticated %}
                <td>Клиент</td>
            {% endif %}
            {% if user.is_authenticated %}
                <td>Сервисная компания</td>
            {% endif %}
        </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
    {% for single_machine in machine %}
        <tr>
               <td><a href="{{ link }}{{ single_machine.get_absolute_url }}">{{ single_machine.zavNumberMachine }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelMachine.get_absolute_url }}">{{ single_machine.modelMachine }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelMotor.get_absolute_url }}">{{ single_machine.modelMotor }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelMotor.get_absolute_url }}">{{ single_machine.zavNumberMotor }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelTransmission.get_absolute_url }}">{{ single_machine.modelTransmission }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelTransmission.get_absolute_url }}">{{ single_machine.zavNumberTransmission }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelDriveAxile.get_absolute_url }}">{{ single_machine.modelDriveAxile }}<a/></td>
               <td><a href="{{ link }}{{ single_machine.modelDriveAxile.get_absolute_url }}">{{ single_machine.zavNumberDA }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelControllAxile.get_absolute_url }}">{{ single_machine.modelControllAxile }}</a></td>
               <td><a href="{{ link }}{{ single_machine.modelControllAxile.get_absolute_url }}">{{ single_machine.zavNumberCA }}</a></td>
               {% if user.is_authenticated %}
                    <td><a href="{{ link }}{{ single_machine.get_absolute_url }}">{{ single_machine.deliveryContract }}</a></td>
               {% endif %}
               {% if user.is_authenticated %}
                    <td>{{ single_machine.shipDate|date:'M d Y'}}</td>
               {% endif %}
               {% if user.is_authenticated %}
                    <td>{{ single_machine.recipient }}</td>
               {% endif %}
               {% if user.is_authenticated %}
                    <td>{{ single_machine.deliveryAddress }}</td>
               {% endif %}
               {% if user.is_authenticated %}
                    <td>{{ single_machine.package }}</td>
               {% endif %}
               {% if user.is_authenticated %}
                    <td>{{ single_machine.client }}</td>
               {% endif %}
               {% if user.is_authenticated %}
                    <td>{{ single_machine.serviceCompany }}</td>
               {% endif %}
           </tr>
           {% endfor %}

       </table>


{% else %}
       <h2>Машин нет!</h2>{% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
    {% load cache %}
    {% cache 1 header %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endcache %}
{% endif %}

   {# Информация о текущей странице #}
{{ page_obj.number }}

   {# Информация о следующих страницах #}
{% if page_obj.has_next %}
    {% load cache %}
    {% cache 1 header %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endcache %}
{% endif %}

{% endblock content %}