{% extends 'flatpages/default.html' %}
<!--{% load i18n %}-->

<!--{% load tz %}-->

{% load custom_tags %}

{% block title %}
TO
{% endblock title %}

{% block content %}
<!--     {% get_current_timezone as TIME_ZONE %}-->
<!--    <form action="" method="POST">-->
<!--        {% csrf_token %}-->
<!--        <label for="timezone">Time zone:</label>-->
<!--        <select name="timezone">-->
<!--            {% for tz in timezones %}-->
<!--            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->
<!--        <input type="submit" value="Set">-->
<!--    </form>-->

<!--    {{ TIME_ZONE }}-->
<!--    {{ current_time|timezone:TIME_ZONE }} &lt;!&ndash; Отображаем время в выбранном часовом поясе  &ndash;&gt;-->

    <h1>Reclamation</h1>

    {% for single_reclamation in reclamation %}
        <hr>
        <h2>Машина: {{ single_reclamation.machine }}</h2>
        <h2>Отказавший узел: {{ single_reclamation.failureNode }}</h2>

    {% endfor %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
        {% load cache %}
        {% cache 60 header %}
            <a href="?{% url_replace page=1 %}">1</a>
           {% if page_obj.previous_page_number != 1 %}
               ...
               <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
           {% endif %}
        {% endcache %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       {% load cache %}
       {% cache 60 header %}
           <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
       {% endcache %}
   {% endif %}
{% endblock content %}